.couleur{
    background:linear-gradient(#34e89e,#0f3443);
    
}
body {
    background-image: url(IMG-20260619-WA0020.jpg);
    background: cover center no-repeat fixed;
}
footer li{
    line-height: 1.3;
}

@media (min-width: 768px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; 
    }
}